* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todos {
  width: 600px;
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 50px;
}

.todos_row {
  display: flex;
  justify-content: center;
}

.todos input {
  width: 400px;
  padding: 10px;
  font-size: 17px;
}

.todos button {
  padding: 10px 25px;
  font-size: 17px;
  cursor: pointer;
}

.todo {
  display: flex;
  padding: 10px;
  background-color: gray;
  width: 482px;
  align-items: center;
  margin: 30px auto;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  border-radius: 5px;
  transition: 0.5s;
}

.todo_check input {
  width: 20px;
  height: 20px;
}

.todo button { 
  cursor: pointer;
  padding: 4px 8px;
  background-color: transparent;
  border: none;
}
.doned {
  opacity: 0.5;
  transition: 0.5s;
}
